.name {
  font-size: 0.28rem;
  color: #25CBAA;
}

.fill {
  font-size: 0.24rem;
  color: #ACACAC;
}

.button {
  width: 1.4rem;
  height: 0.48rem;
  border-radius: 0.04rem;
  border: #25CBAA 1px solid !important;
}

.button:after, .button:before {
  display: none;
}

.buttonText {
  font-size: 0.26rem;
  color: #25CBAA;
}

.root {
  padding: 0.3rem 0.4rem 0.3rem 0.24rem;
}

.saleRoot {
  height: 1.8rem;
  padding: 0.3rem 0.4rem 0.3rem 0.24rem;
}