.item {
  /*width: 100%;*/
  border-bottom: #CCCCCC 1px solid;
  padding: 0.3rem 0.16rem 0.3rem 0;
  margin: 0 0.24rem;
  font-size: 0.28rem;
  color: #666;
}

.img {
  margin-left: 0.3rem;
}

.disabled {
  color: #E6E6E6;
}

.subTitle {
  font-size: 0.24rem;
  color: #C7C7C7;
}