.root {
  flex: 1;
  background-color: white;
  overflow-y: auto;
  /*display: flex;*/
  /*flex-direction: column;*/
}

.coupon{
  display: flex;
  height: 100%;
  flex-direction: column;
  position: relative;
}

.cover{
  width: 100%;
}

.couponDetail {
  padding: 0 40px;
}

.couponTitle {
  margin-top: 32px;
  font-size: 26px;
  color: #4d4d4d;
}

.couponPrice {
  margin-top: 48px;
  margin-bottom: 26px;
}

.couponDate {
  font-size: 20px;
  color: #4d4d4d;
}

.couponHr {
  height: 1px;
  background-color: #cccccc;
}

.merchant {
  padding: 20px;
  margin-bottom: 12px;
}

.merchantName {
  padding: 10px;
  color: #4d4d4d;
  font-size: 24px;
}

.couponTips {
  padding: 10px;
  color: #7f4f21;
  font-size: 24px;
}

.couponIntroduction {
  padding: 10px;
  color: #a5a5a5;
  font-size: 24px;
}

.bottom{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.record {
  margin: 0 20px;
}

.recordTable th, .recordTable td {
  padding: 20px 0;
}

.recordTable>tbody>tr>th {
  border-bottom: 2px solid #ddd;
}

.recordTable {
  width: 100%;
}

.recordTable th {
  color: #000;
}

.recordTitle {
  color: #f5bd19;
}

.recordNickname {
  color: #808080;
}

.recordDate {
  color: #4d4d4d;
  text-align: center;
}
